@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== EXITON base theme ===== */

body {
    @apply bg-slate-950 text-slate-100 antialiased;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9;
}